apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: goserver
  newName: thayinaccio/gitopsfc
  newTag: 5c70751089053daa1a969584927065766ecced44
